* {
  margin: 0;
  padding: 0;
}

#produtos {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 50px;
}

.div {
  border: 1px solid black;
  padding: 15px;
  text-align: center;
}
